div.file {
	float: left;
	width: 380px;
	padding: 10px;
	overflow: hidden;
	font-family: monospace;
	font-size: 16px;
}

div.main {
	float: left;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: calc(100% - 400px);

	div.in-box {
		white-space: pre;
		display: block;
		bottom: 0;
		width: 100%;
		min-height: 100%;
		span {
			display: block;
		}
	}
}
